@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'JetBrains Mono', 'Courier New', monospace;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

/* Brutalist card style */
.brutalist-card {
  border: 2px solid #000;
  box-shadow: 4px 4px 0px #000;
  transition: all 0.1s;
}

.brutalist-card:active {
  box-shadow: 0px 0px 0px #000;
  transform: translate(2px, 2px);
}
